{%extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="row  justify-content-center mt-2">
      <img src="{{collage.image.url}}" style = " width: 100px;"  alt="">
    </div>
    <p class="mt-2 text-center color-red">{{collage.name}}</p>
    <hr>  
    <div class="row justify-content-center my-3 ">
        
        <div class="col-sm-5 border p-5 shadow  rounded">
            {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-warning alert-dismissible my-3  " role="alert">
                    <button type="button" class="close w-25" data-dismiss="alert" aria-label="Close">x</button>
                    

                    {{msg.message}}
                </div>
                {% endfor %}
        {% endif %}
        <div class="alert alert-danger alert-dismissible my-3  " role="alert">
            <p>The password given to you can be weak. So we suggest you to change your password</p>
        </div>
        
        <hr>
        
             
            <form method = "post" novalidate>
                {%csrf_token%}
                {{form.as_p}}
                <button class="btn btn-primary">Change Password</button>
                <a href="{%url 'core:home'%}" class="btn btn-danger">Cancel</a>
                
              </form>
        </div>
    </div>
</div>


{%endblock content%}